<h1>Click a Department To View Category</h1>
<%= link_to 'Categories', @department_categories_path %>
<ul>
  <% @departments.each do |department| %>
    <li><%= link_to department.name, department %></li>
  <% end %>
</ul>