<h1><%= @category.id ? 'Edit Category' : 'Create Category' %></h1>
<hr />
<%= form_for [@department, @category] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
<% end %>
